.vditor-reset ul ul ul {
  list-style-type: square !important;
}

.vditor-reset ul ul {
  list-style-type: circle !important;
}

.vditor-reset ul {
  list-style-type: disc !important;
}

.vditor-reset ul,
.vditor-reset ol {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 16px;
}

.vditor-reset li+li {
  margin-top: 0.25em;
}

.vditor-reset ul>li {
  list-style-type: disc;
}

.vditor-reset ul>li>ul>li {
  list-style-type: circle;
}

.vditor-reset ul>li>ul>li>ul>li {
  list-style-type: square;
}

.vditor-reset input[type=checkbox] {
  display: inline-block;
}

.vditor-reset ol>li {
  margin-left: 20px;
  padding-left: 4px;
  list-style-type: decimal;
}

/*.vditor-reset p,
.vditor-reset pre {
    margin: 1em 0;
}

.vditor-reset ul > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: circle;
}

.vditor-reset ol > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: decimal;
}

.vditor-reset ul > li > p,
.vditor-reset ol > li > p {
    margin: 0.2em 0;
}*/

.layui-header {
  height: 50px;
}

.layui-layout-admin .layui-logo {
  line-height: 50px;
}

.layui-layout-admin .layui-body {
  top: 50px;
}

.layui-layout-admin .layui-side {
  top: 50px;
}

.layui-nav .layui-nav-item {
  line-height: 50px;
}

.layui-nav-tree .layui-nav-item a {
  height: 35px;
  line-height: 35px;
}

.layui-input,
.layui-select {
  height: 30px;
}

.layui-form-label {
  line-height: 10px;
}

.layui-form-item .layui-input-inline {
  width: 160px;
}

.layui-tab-title {
  height: 30px;
}

.layui-tab-title li {
  height: 30px;
  line-height: 30px;
}

.layui-tab-title li.layui-this::after {
  height: 30px;
}

xm-select {
  min-height: 30px !important;
  line-height: 30px !important;
}


/*.header {
  background-color: #393D49;
  width: 100%;
  height: 60px;
}

.header .logo {
  width: 200px;
  height: 60px;
  float: left;
  text-align: center;
}

.header .logo a {
  font-size: 50px;
  color: #FFF;
  line-height: 60px;
}

.header .nav {
  float: left;
}

.mobile-icon {
  display: none;
}

.main {
  margin-top: 20px;
}

.demoBox {
  background-color: #2E2D3C;
  text-align: center;
  height: 100px;
  width: 100%;
  color: #FFF;
  font-size: 30px;
  line-height: 100px;
}

@media screen and (max-width: 1024px) {
  .header .logo {
    text-align: left;
  }

  .header .nav {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 61px;
    margin-left: -15px;
  }

  .layui-nav {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .header .nav li {
    width: 100%;
    text-align: center;
  }

  .mobile-icon {
    display: block;
    color: #FFF;
    font-size: 30px;
    float: right;
    margin-top: 15px;
  }

  .layui-nav .layui-this:after,
  .layui-nav-bar,
  .layui-nav-tree .layui-nav-itemed:after {
    height: 1px;
    background-color: #5FB878;
  }
}*/